## Mysql-Python Connection

In [42]:
import mysql.connector
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import csv

%matplotlib inline

In [43]:
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="306homeworks", # change password
  auth_plugin='mysql_native_password'
)
print(db_connection)

<mysql.connector.connection.MySQLConnection object at 0x7fe498638820>

### Create Database

In [44]:
# creating database_cursor to perform SQL operation
# to run queries
db_cursor = db_connection.cursor(buffered=True)

In [45]:
# executing cursor with execute method and pass SQL query
#db_cursor.execute("CREATE DATABASE ps_ecommerce")

# get list of all databases
db_cursor.execute("SHOW DATABASES")

# print all databases
for db in db_cursor:
    print(db)

('FootballWorld',)
('information_schema',)
('mysql',)
('performance_schema',)
('ps_ecommerce',)
('sys',)
('world',)

In [46]:
db_cursor.execute("USE FootballWorld")

In [51]:
db_cursor.execute("SELECT * FROM club")
x = db_cursor.fetchall()
len(x)

In [52]:
len(x)

24

In [7]:
db_cursor.execute("delete from competition")

In [8]:

insert_statement = "INSERT INTO Competition VALUES ({}, {}, {}, {})"
file_path = '../../datas/results/Competitions.csv'
with open(file_path, mode='r') as csv_data:
    
    reader = csv.reader(csv_data, delimiter=',')
    csv_data_list = list(reader)
    #print(len(csv_data_list))
    #print(csv_data_list[1])
    
    for row in csv_data_list[1:]:
        
        x = 'INSERT INTO Competition(comp_id,name,type,country_name) VALUES ("{}", "{}", "{}", "{}")'.format(row[1],row[2],row[3],row[4])
        #print(x)
    #    row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
        db_cursor.execute(x)

In [9]:
db_cursor.execute("SELECT * FROM competition")
x = db_cursor.fetchall()

In [10]:
"""
db_cursor.execute("Describe club")
x = db_cursor.fetchall()
x
"""

'\ndb_cursor.execute("Describe club")\nx = db_cursor.fetchall()\nx\n'

In [11]:
"""
db_cursor.execute("alter table club modify stadium_name varchar(100)")
x = db_cursor.fetchall()
x"""

'\ndb_cursor.execute("alter table club modify stadium_name varchar(100)")\nx = db_cursor.fetchall()\nx'

In [53]:
db_cursor.execute("delete from club")

In [54]:
db_cursor.execute("SELECT * FROM club")
x = db_cursor.fetchall()
len(x)

0

In [61]:
### CLUB

file_path = '../../datas/results/clubs.csv'
with open(file_path, mode='r') as csv_data:
    
    reader = csv.reader(csv_data, delimiter=',')
    csv_data_list = list(reader)
    #print(len(csv_data_list))
    #print(csv_data_list[1])
    #print(csv_data_list[0])
    for row in csv_data_list[1:]:
        #print(row)
        #break
        for i in range(len(row)):
            if row[i]=='':
                row[i] = 'NULL'
            if '"' in row[i]:
                a = row[i].split('"')
                b = ''
                for c in a:
                    b = b + c
                row[i] = b
        x = 'INSERT INTO club VALUES ('
        x = x + row[1] + ', ' #ID int
        x = x + '"'+row[2]+'"'+ ', '# Name str
        x = x + row[4] + ', '
        x = x + row[5] + ', '
        x = x + row[6]+ ', '
        x = x + row[7] + ', '
        x = x + row[8] + ', '
        x = x + '"'+row[9]+'"' + ', ' # Name str
        x = x + row[10] + ', '
        x = x + str(float(row[11])) + ', '
        x = x + '"'+row[12]+'"'# Name str
        x = x +');'
        print(x)
        #break
    #    row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
        #db_cursor.execute(x)

INSERT INTO club VALUES (1032, "Fc Reading", 33.66, 26, 25.9, 46.2, 6, "Select Car Leasing Stadium", 24161, 8369999.999999999, "Brian McDermott");
INSERT INTO club VALUES (2323, "Orduspor", NULL, 0, NULL, NULL, 0, "19 Eylül Stadyum", 11024, -0.0, "Héctor Cúper");
INSERT INTO club VALUES (1387, "Acn Siena 1904", 4.32, 30, 26.2, 20.0, 2, "Artemio Franchi", 15373, -6.0, "Serse Cosmi");
INSERT INTO club VALUES (3592, "Kryvbas Kryvyi Rig", 2.95, 24, 24.5, 8.3, 0, "Shakhty Zhovtneva", 2500, -270.0, "Oleg Taran");
INSERT INTO club VALUES (1071, "Wigan Athletic", 12.38, 29, 26.5, 48.3, 6, "DW Stadium", 25133, -140.0, "Roberto Martínez");
INSERT INTO club VALUES (2703, "Spartak Vladikavkaz", NULL, 1, 20.0, NULL, 0, "Republican Stadium Spartak", 32464, -0.0, "Vladimir Gazzaev");
INSERT INTO club VALUES (142, "Real Saragossa", 22.86, 24, 26.6, 20.8, 0, "La Romareda", 33068, -0.0, "Manolo Jiménez");
INSERT INTO club VALUES (566, "Beerschot Ac", NULL, 0, NULL, NULL, 0, "Olympisch Stadion", 12771, -0.0, "Adrie Koster");
INSERT INTO club VALUES (1436, "Sc Beira Mar", 135.0, 22, 27.5, 40.9, 0, "Estádio Mário Duarte", 12000, -0.0, "Ulisses Morais");
INSERT INTO club VALUES (4750, "Sc Olhanense", 68.0, 22, 24.1, 40.9, 0, "Estádio José Arcanjo", 10080, -0.0, "Abel Xavier");
INSERT INTO club VALUES (23, "Eintracht Braunschweig", 6.48, 27, 24.9, 11.1, 0, "EINTRACHT-Stadion", 23325, -0.0, "Torsten Lieberknecht");
INSERT INTO club VALUES (2227, "Sk Tavriya Simferopol", NULL, 0, NULL, NULL, 0, "RS Lokomotiv", 19978, -0.0, "Giannis Christopoulos");
INSERT INTO club VALUES (12438, "Volga Nizhniy Novgorod", NULL, 0, NULL, NULL, 0, "Zentralstadion Lokomotiv", 17856, -0.0, "Yuriy Kalitvintsev");
INSERT INTO club VALUES (2292, "Elazigspor", 563.0, 40, 23.2, NULL, 0, "Elazığ Doğukent Stadı", 2500, 44.0, "Trond Sollied");
INSERT INTO club VALUES (1210, "As Livorno", 225.0, 25, 27.0, NULL, 0, "Armando Picchi", 19238, -0.0, "Davide Nicola");
INSERT INTO club VALUES (1627, "Catania Calcio", 6.56, 25, 26.8, 20.0, 0, "Cibali - Angelo Massimino", 20016, -0.0, "Rolando Maran");
INSERT INTO club VALUES (16245, "Fk Sevastopol", NULL, 0, NULL, NULL, 0, "SK Sevastopol", 5826, -0.0, "Oleg Kononov");
INSERT INTO club VALUES (1423, "Fc Valenciennes", 18.41, 29, 25.6, 37.9, 2, "Stade du Hainaut", 25000, 1350000.0, "Daniel Sanchez");
INSERT INTO club VALUES (750, "Fc Sochaux Montbeliard", 17.51, 24, 24.8, 33.3, 3, "Stade Auguste-Bonal", 20005, 720.0, "Eric Hély");
INSERT INTO club VALUES (1147, "Ac Ajaccio", 16.52, 25, 26.8, 40.0, 7, "Stade François-Coty", 10446, -0.0, "Fabrizio Ravanelli");
INSERT INTO club VALUES (1411, "Raec Mons", NULL, 0, NULL, NULL, 0, "Charles Tondreau Stadion", 12662, -0.0, "Enzo Scifo");
INSERT INTO club VALUES (3302, "Ud Almeria", 51.66, 25, 25.7, 40.0, 2, "Estadio de los Juegos Mediterráneos", 15274, -4820000.0, "Francisco Rodríguez");
INSERT INTO club VALUES (5572, "Niki Volou", 3.4, 24, 28.0, 25.0, 1, "Panthessaliko Stadio", 22700, -0.0, "Wiljan Vloet");
INSERT INTO club VALUES (20698, "Balikesirspor", 1.58, 30, 24.6, 30.0, 1, "Balıkesir Atatürk", 15800, -0.0, "Ismail Ertekin");
INSERT INTO club VALUES (6894, "Kayseri Erciyesspor", NULL, 0, NULL, NULL, 0, "Kayseri Atatürk Spor Kompleksi Yan Açık Saha", 2000, -0.0, "Hikmet Karaman");
INSERT INTO club VALUES (1429, "Cesena Fc", 6.82, 29, 24.9, 13.8, 1, "Orogel Stadium - Dino Manuzzi", 23860, 90.0, "Pierpaolo Bisoli");
INSERT INTO club VALUES (5220, "Gs Ergotelis", 3.96, 30, 22.2, 33.3, 1, "Pankritio Stadio", 25780, -0.0, "Juan Ferrando");
INSERT INTO club VALUES (2783, "Metalurg Donetsk", NULL, 0, NULL, NULL, 0, "Metalurg", 5090, -0.0, "Volodymyr Pyatenko");
INSERT INTO club VALUES (204, "Lierse Sk", NULL, 0, NULL, NULL, 0, "Herman Vanderpoortenstadion", 14538, -0.0, "Stanley Menzo");
INSERT INTO club VALUES (993, "Fc Cordoba", 2.99, 24, 26.6, 8.3, 0, "Nuevo Arcángel", 21822, 270.0, "Albert Ferrer");
INSERT INTO club VALUES (20100, "Fc Vestsjaelland", NULL, 0, NULL, NULL, 0, "Harboe Arena", 10000, -0.0, "Michael Hansen");
INSERT INTO club VALUES (1039, "Queens Park Rangers", 35.06, 28, 26.5, 60.7, 9, "Kiyan Prince Foundation Stadium", 18360, -1670000.0, "Harry Redknapp");
INSERT INTO club VALUES (3327, "Fc Penafiel", 4.46, 27, 27.5, 22.2, 0, "Estádio Municipal 25 de Abril", 5230, -0.0, "Ricardo Chéu");
INSERT INTO club VALUES (14171, "Thonon Evian Grand Geneve Fc", 1.6, 20, 26.4, 20.0, 1, "Stade Joseph-Moynat", 0, -0.0, "Pascal Dupraz");
INSERT INTO club VALUES (1455, "Fc Dordrecht", 4.1, 26, 22.6, 42.3, 0, "Riwal Hoogwerkers Stadion", 4235, -0.0, "Ernie Brandts");
INSERT INTO club VALUES (1186, "Torpedo Moskau", 8.64, 26, 26.3, 15.4, 2, "Sportivniy Gorodok, Luzhniki", 1872, -90.0, "Nikolay Savichev");
INSERT INTO club VALUES (976, "Cf Uniao Madeira", NULL, 6, 22.3, NULL, 0, "Centro Desportivo da Madeira", 2500, -0.0, "Luís Norton de Matos");
INSERT INTO club VALUES (11126, "Mordovia Saransk", NULL, 0, NULL, NULL, 0, "Mordovia Arena", 44442, -0.0, "Andrey Gordeev");
INSERT INTO club VALUES (3558, "Gfc Ajaccio", 585.0, 22, 23.9, 9.1, 0, "Stade Ange-Casanova", 4050, -0.0, "Thierry Laurey");
INSERT INTO club VALUES (6994, "Metalurg Zaporizhya Bis 2016 ", NULL, 0, NULL, NULL, 0, "Slavutych Arena", 11883, -0.0, "Anatoliy Chantsev");
INSERT INTO club VALUES (6996, "Goverla Uzhgorod", NULL, 0, NULL, NULL, 0, "Avangard", 10640, -0.0, "Vyacheslav Groznyi");
INSERT INTO club VALUES (28956, "Ael Kalloni", NULL, 0, NULL, NULL, 0, "Stadio Mytilinis", 4000, -0.0, "Thalis Theodoridis");
INSERT INTO club VALUES (4102, "Carpi Fc 1909", 1.24, 31, 22.8, 19.4, 0, "Sandro Cabassi", 5510, 540.0, "Fabrizio Castori");
INSERT INTO club VALUES (7185, "Panthrakikos Komotini", NULL, 5, 26.2, 60.0, 1, "Stadio Komotinis OPAP", 5601, -0.0, "José Manuel Roca");
INSERT INTO club VALUES (3216, "Mersin Idmanyurdu", NULL, 0, NULL, NULL, 0, "Mersin Stadyumu", 25000, -0.0, "Mesut Bakkal");
INSERT INTO club VALUES (825, "Eskisehirspor", 1.1, 21, 21.2, 9.5, 0, "Eskişehir Yeni Stadyum", 34930, 15.0, "Ilhan Mayakan");
INSERT INTO club VALUES (6414, "Metalist Kharkiv", NULL, 0, NULL, NULL, 0, "OSK Metalist", 38685, -0.0, "Oleksandr Sevidov");
INSERT INTO club VALUES (2439, "Kuban Krasnodar", NULL, 0, NULL, NULL, 0, "Kuban Stadium", 31654, -0.0, "Dmitri Khokhlov");
INSERT INTO club VALUES (2990, "Academica Coimbra", 4.91, 30, 26.2, 40.0, 2, "Estádio Cidade de Coimbra", 29744, -0.0, "José Viterbo");
INSERT INTO club VALUES (3691, "Tom Tomsk", 4.96, 23, 25.1, 8.7, 0, "Trud", 10028, 156.0, "Valeri Petrakov");
INSERT INTO club VALUES (2451, "Inverness Caledonian Thistle Fc", 4.3, 24, 24.1, 29.2, 0, "Tulloch Caledonian Stadium", 7750, 209.0, "Richie Foran");
INSERT INTO club VALUES (105, "Sv Darmstadt 98", 15.37, 27, 24.8, 25.9, 2, "Merck-Stadion am Böllenfalltor", 17400, 270.0, "Norbert Meier");
INSERT INTO club VALUES (4482, "Volyn Lutsk", 1.73, 26, 21.9, 3.8, 0, "Stadion Avangard", 12080, -0.0, "Vitaliy Kvartsyanyi");
INSERT INTO club VALUES (339, "Dnipro Dnipropetrovsk", NULL, 0, NULL, NULL, 0, "Meteor", 24381, -0.0, "Dmytro Mykhaylenko");
INSERT INTO club VALUES (4795, "Fc Ingolstadt 04", 11.68, 32, 25.4, 37.5, 2, "Audi Sportpark", 15800, -180.0, "Markus Kauczinski");
INSERT INTO club VALUES (6, "Adanaspor", 7.04, 27, 24.0, 40.7, 1, "Yeni Adana Stadyumu", 33000, 270.0, "Engin Ipekoglu");
INSERT INTO club VALUES (2079, "Veria Nps", 4.88, 29, 25.9, 17.2, 0, "Dimotiko Stadio Verias", 6350, -0.0, "Dimitrios Eleftheropoulos");
INSERT INTO club VALUES (524, "Gaziantepspor", NULL, 0, NULL, NULL, 0, "Gaziantep Stadyumu", 33502, -0.0, "Ismail Kartal");
INSERT INTO club VALUES (2921, "Delfino Pescara 1936", 5.38, 28, 24.5, 21.4, 1, "Adriatico", 20476, 2480000.0, "Massimo Oddo");
INSERT INTO club VALUES (47, "Iraklis Thessaloniki", 3.4, 31, 22.8, 25.8, 0, "Kaftanzoglio Stadio", 27770, -0.0, "Nikolaos Papadopoulos");
INSERT INTO club VALUES (458, "Palermo Fc", 4.39, 25, 26.2, 16.0, 0, "Comunale Renzo Barbera La Favorita", 36365, 1890000.0, "Davide Ballardini");
INSERT INTO club VALUES (289, "Afc Sunderland", 16.79, 27, 24.9, 48.1, 3, "Stadium of Light", 48707, -216.0, "Sam Allardyce");
INSERT INTO club VALUES (641, "Fc Middlesbrough", 48.96, 26, 26.3, 34.6, 5, "Riverside Stadium", 33746, -11300000.0, "Aitor Karanka");
INSERT INTO club VALUES (3008, "Hull City", 19.08, 27, 24.6, 22.2, 3, "KCOM Stadium", 24983, -720.0, "Steve Bruce");
INSERT INTO club VALUES (968, "Kvc Westerlo", 9.68, 29, 24.5, 55.2, 2, "Het Kuipje", 8035, -450.0, "Bob Peeters");
INSERT INTO club VALUES (1159, "As Nancy Lorraine", 16.88, 30, 24.2, 53.3, 4, "Stade Marcel-Picot", 20087, -0.0, "Pablo Correa");
INSERT INTO club VALUES (2448, "Sporting Gijon", 25.52, 26, 25.6, 23.1, 4, "El Molinón - Enrique Castro Quini", 30000, -225.0, "Abelardo");
INSERT INTO club VALUES (595, "Sc Bastia", 8.96, 28, 27.7, 25.0, 2, "Stade Armand-Cesari", 16480, -0.0, "François Ciccolini");
INSERT INTO club VALUES (41, "Hamburger Sv", 32.9, 26, 24.0, 34.6, 1, "Volksparkstadion", 57000, 4280000.0, "Markus Gisdol");
INSERT INTO club VALUES (3690, "Ska Khabarovsk", 7.09, 27, 25.2, 14.8, 2, "Lenin Stadion", 15200, -28.0, "Aleksey Poddubskiy");
INSERT INTO club VALUES (192, "Roda Jc Kerkrade", 5.83, 27, 23.0, 51.9, 1, "Parkstad Limburg Stadion", 19979, 158.0, "Robert Molenaar");
INSERT INTO club VALUES (1084, "Fc Malaga", 20.97, 28, 25.0, 21.4, 0, "La Rosaleda", 30044, -0.0, "Míchel");
INSERT INTO club VALUES (8838, "Zirka Kropyvnytskyi", NULL, 1, 23.0, NULL, 0, "Zirka", 14628, -0.0, "Roman Monarev");
INSERT INTO club VALUES (22110, "Fc Helsingor", 4.95, 24, 25.6, 25.0, 3, "Helsingør Ny Stadion", 4000, -0.0, "Christian Lönstrup");
INSERT INTO club VALUES (16247, "Pfk Stal Kamyanske", NULL, 0, NULL, NULL, 0, "Obolon", 5100, -0.0, "Eghishe Melikyan");
INSERT INTO club VALUES (2944, "Ankaraspor", 2.75, 30, 25.5, 6.7, 0, "Osmanlı Stadı", 19626, 172.0, "Bülent Uygun");
INSERT INTO club VALUES (1506, "Kardemir Karabukspor", NULL, 22, 20.5, NULL, 0, "Dr. Necmettin Şeyhoğlu", 12400, -0.0, "Erkan Sözeri");
INSERT INTO club VALUES (21957, "Ao Platanias", NULL, 0, NULL, NULL, 0, "Dimotiko Gipedo Perivolia", 3700, -0.0, "Georgios Paraschos");
INSERT INTO club VALUES (5219, "Aok Kerkyra", NULL, 7, 22.1, 28.6, 0, "Ethniko Stadio Kerkyras", 3000, -0.0, "Dimitrios Eleftheropoulos");
INSERT INTO club VALUES (2760, "Partick Thistle Fc", 4.3, 21, 26.5, 9.5, 0, "The Energy Check Stadium at Firhill", 10102, -0.0, "Alan Archibald");
INSERT INTO club VALUES (897, "Deportivo La Coruna", 6.95, 24, 26.2, 12.5, 0, "Riazor", 32912, 1530000.0, "Pepe Mel");
INSERT INTO club VALUES (472, "Ud Las Palmas", 20.7, 27, 25.9, 22.2, 1, "Estadio de Gran Canaria", 32400, 1300000.0, "Manolo Márquez");
INSERT INTO club VALUES (512, "Stoke City", 53.55, 29, 26.1, 48.3, 7, "bet365 Stadium", 30089, 8420000.0, "Mark Hughes");
INSERT INTO club VALUES (2288, "Swansea City", 35.06, 23, 24.8, 91.3, 3, "Liberty Stadium", 21088, -761.0, "Paul Clement");
INSERT INTO club VALUES (40426, "Fk Tosno", NULL, 0, NULL, NULL, 0, "Petrovsky", 20985, -0.0, "Dmitri Parfenov");
INSERT INTO club VALUES (4128, "Amkar Perm", 3.67, 27, 24.1, NULL, 0, "Zvezda", 17000, -0.0, "Gadzhi Gadzhiev");
INSERT INTO club VALUES (498, "Ksc Lokeren", NULL, 0, NULL, NULL, 0, "Daknamstadion", 12000, -0.0, "Peter Maes");
INSERT INTO club VALUES (2700, "Anzhi Makhachkala", 2.52, 27, 20.7, NULL, 0, "RDYuSSh MinObrNauki RD Politekh Makhachkala", 1600, 22.0, "Magomed Adiev");
INSERT INTO club VALUES (642, "De Graafschap Doetinchem", 6.23, 27, 24.1, 7.4, 1, "De Vijverberg", 12600, -0.0, "Henk de Jong");
INSERT INTO club VALUES (798, "Sbv Excelsior Rotterdam", 6.37, 25, 21.7, 24.0, 0, "Van Donge & De Roo Stadion - Woudestein", 4400, 720.0, "Adrie Poldervaart");
INSERT INTO club VALUES (19657, "Vendsyssel Ff", 4.05, 25, 25.1, 36.0, 0, "Nord Energi Arena", 10000, -90.0, "Jens Berthel Askou");
INSERT INTO club VALUES (862, "Chievo Verona", NULL, 0, NULL, NULL, 0, "Marcantonio Bentegodi", 31045, 90.0, "Lorenzo D'Anna");
INSERT INTO club VALUES (2672, "Apo Levadiakos", 5.69, 26, 26.4, 46.2, 1, "Stadio Livadias", 5915, -0.0, "Apostolos Mantzios");
INSERT INTO club VALUES (8970, "Frosinone Calcio", 16.94, 30, 24.8, 36.7, 1, "Benito Stirpe", 16227, 6490000.0, "Moreno Longo");
INSERT INTO club VALUES (19771, "Akhisarspor", 1.35, 30, 22.0, 6.7, 0, "Spor Toto Akhisar Stadyumu", 12139, 108.0, "Safet Susic");
INSERT INTO club VALUES (20, "Bursaspor", 7.99, 31, 23.8, 29.0, 2, "Bitci Timsah Park", 43331, 2490000.0, "Samet Aybaba");
INSERT INTO club VALUES (9007, "Arsenal Kiew", NULL, 0, NULL, NULL, 0, "NSK Olimpisky", 70050, -0.0, "Fabrizio Ravanelli");
INSERT INTO club VALUES (132, "Nac Breda", 6.44, 29, 23.6, 31.0, 5, "Rat Verlegh Stadion", 19000, 819.0, "Jo Jansen");
INSERT INTO club VALUES (855, "Ea Guingamp", 15.71, 26, 24.4, 26.9, 4, "Stade du Roudourou", 18120, 1180000.0, "Antoine Kombouaré");
INSERT INTO club VALUES (603, "Cardiff City", 28.44, 24, 25.6, 83.3, 5, "Cardiff City Stadium", 33280, 4680000.0, "Neil Warnock");
INSERT INTO club VALUES (1162, "Sm Caen", 18.14, 25, 26.1, 36.0, 2, "Stade Michel-d'Ornano", 20500, 5850000.0, "Fabien Mercadal");
INSERT INTO club VALUES (1110, "Huddersfield Town", 33.89, 27, 26.1, 37.0, 2, "John Smith's Stadium", 24500, 2069999.9999999998, "David Wagner");
INSERT INTO club VALUES (3714, "Enisey Krasnoyarsk", 7.25, 32, 26.1, 6.3, 1, "Zentralstadion Krasnoyarsk", 15000, 900.0, "Dmitri Alenichev");
INSERT INTO club VALUES (12321, "Fc Girona", 25.11, 24, 25.0, 25.0, 0, "Municipal de Montilivi", 11286, 2750000.0, "Eusebio");
INSERT INTO club VALUES (42, "Hannover 96", 18.79, 24, 26.9, 33.3, 1, "HDI-Arena", 49000, 2840000.0, "André Breitenreiter");
INSERT INTO club VALUES (4, "1 Fc Nurnberg", 22.93, 28, 25.3, 17.9, 1, "Max-Morlock-Stadion", 50000, 1580000.0, "Michael Köllner");
INSERT INTO club VALUES (3349, "Cd Feirense", 4.79, 29, 24.6, 58.6, 3, "Estádio Marcolino de Castro", 5401, 1080000.0, "Nuno Manta Santos");
INSERT INTO club VALUES (3325, "Gd Chaves", 4.86, 30, 26.7, 53.3, 4, "Estádio Municipal Eng.º Manuel Branco Teixeira", 9000, -0.0, "Daniel Ramos");
INSERT INTO club VALUES (14589, "Fk Orenburg", 10.24, 28, 25.7, 28.6, 3, "Gazovik", 7500, 176.0, "Vladimir Fedotov");
INSERT INTO club VALUES (169, "Panionios Athen", 1.62, 28, 23.0, 25.0, 0, "Stadio Neas Smyrnis", 11700, -0.0, "Apostolos Mantzios");
INSERT INTO club VALUES (19, "Brescia Calcio", 32.4, 29, 25.6, 48.3, 3, "Mario Rigamonti", 19550, 11750000.0, "Eugenio Corini");
INSERT INTO club VALUES (1005, "Us Lecce", 29.61, 27, 25.8, 55.6, 2, "Ettore Giardiniero", 31559, 450.0, "Fabio Liverani");
INSERT INTO club VALUES (2722, "Spal", 23.78, 32, 25.9, 28.1, 2, "Paolo Mazza", 16134, 9500000.0, "Leonardo Semplici");
INSERT INTO club VALUES (128, "Ao Xanthi", 5.36, 30, 26.3, 26.7, 1, "Xanthi Arena", 7361, -0.0, "Kiko Ramírez");
INSERT INTO club VALUES (5818, "Hobro Ik", 3.6, 29, 24.2, 13.8, 1, "DS Arena", 7500, 241.0, "Peter Sörensen");
INSERT INTO club VALUES (3426, "Esbjerg Fb", 6.26, 35, 22.0, 42.9, 5, "Blue Water Arena", 16942, -0.0, "John Lammers");
INSERT INTO club VALUES (2477, "Karpaty Lviv", NULL, 0, NULL, NULL, 0, "Stadion Ukraina", 28051, -0.0, "Oleksandr Chyzhevskyi");
INSERT INTO club VALUES (989, "Afc Bournemouth", 152.64, 30, 24.9, 43.3, 9, "Vitality Stadium", 11329, 15210000.0, "Eddie Howe");
INSERT INTO club VALUES (1244, "Cd Leganes", 32.85, 28, 27.5, 28.6, 3, "Municipal de Butarque", 12454, 2250000.0, "Mauricio Pellegrino");
INSERT INTO club VALUES (415, "Fc Toulouse", 24.48, 26, 23.3, 53.8, 4, "Stadium Municipal", 33150, 10000000.0, "Alain Casanova");
INSERT INTO club VALUES (38, "Fortuna Dusseldorf", 22.95, 28, 26.3, 28.6, 3, "MERKUR SPIEL-ARENA", 54600, -1640000.0, "Friedhelm Funkel");
INSERT INTO club VALUES (1416, "Amiens Sc", 20.97, 27, 24.7, 48.1, 6, "Stade Crédit Agricole la Licorne", 12999, 5060000.0, "Luka Elsner");
INSERT INTO club VALUES (127, "Sc Paderborn 07", 15.48, 30, 24.9, 26.7, 3, "Benteler-Arena", 15000, 3870000.0, "Steffen Baumgart");
INSERT INTO club VALUES (1085, "Vitoria Setubal Fc", 2.59, 27, 25.9, 29.6, 3, "Estádio do Bonfim", 18642, -0.0, "Sandro Mendes");
INSERT INTO club VALUES (3336, "Desportivo Aves", NULL, 0, NULL, NULL, 0, "Estádio CD das Aves", 5441, -0.0, "Augusto Inácio");
INSERT INTO club VALUES (982, "Cd Nacional", 7.34, 29, 26.7, 48.3, 3, "Estádio da Madeira", 5586, 720.0, "Luis Antonio Zaluar");
INSERT INTO club VALUES (29228, "Royal Excel Mouscron", 4.21, 28, 25.9, 53.6, 3, "Le Canonnier", 10830, -0.0, "Fernando Da Cruz");
INSERT INTO club VALUES (1160, "Nimes Olympique", 27.95, 25, 24.0, 48.0, 7, "Stade des Costières", 18364, 5220000.0, "Jérôme Arpinon");
INSERT INTO club VALUES (1426, "Vvv Venlo", 6.28, 27, 22.1, 25.9, 0, "Covebo Stadion - De Koel", 8000, 2250000.0, "Hans de Koning");
INSERT INTO club VALUES (23611, "Olimpik Donetsk", NULL, 0, NULL, NULL, 0, "NTK im. B. M. Bannikova", 1678, -0.0, "Igor Klymovskyi");
INSERT INTO club VALUES (369, "Lyngby Bk", 6.75, 29, 24.1, 13.8, 1, "Lyngby Stadion", 10000, 1710000.0, "Michelle Lange");
INSERT INTO club VALUES (2414, "Ac Horsens", 5.9, 24, 25.2, 29.2, 2, "Casa Arena Horsens", 10400, -0.0, "Bo Henriksen");
INSERT INTO club VALUES (2553, "Kilmarnock Fc", 7.52, 30, 26.3, 43.3, 1, "BBSP Stadium, Rugby Park", 18128, -0.0, "Alex Dyer");
INSERT INTO club VALUES (2999, "Hamilton Academical Fc", 5.94, 28, 22.8, 25.0, 1, "Fountain of Youth Stadium", 6018, -0.0, "Brian Rice");
INSERT INTO club VALUES (833, "Denizlispor", 4.43, 32, 26.1, 25.0, 1, "Denizli Atatürk Stadı", 18745, -0.0, "Robert Prosinecki");
INSERT INTO club VALUES (39722, "Buyuksehir Belediye Erzurumspor", 6.1, 28, 27.6, 35.7, 3, "Erzurum Kazım Karabekir", 23700, -0.0, "Mehmet Özdilek");
INSERT INTO club VALUES (4171, "Benevento Calcio", 27.05, 28, 26.1, 28.6, 3, "Ciro Vigorito", 16867, 1530000.0, "Filippo Inzaghi");
INSERT INTO club VALUES (4083, "Fc Crotone", 18.83, 29, 24.1, 44.8, 5, "Ezio Scida", 16640, 6300000.0, "Giovanni Stroppa");
INSERT INTO club VALUES (130, "Parma Calcio 1913", 51.84, 35, 25.3, 68.6, 3, "Ennio Tardini", 22352, -19060000.0, "Roberto D'Aversa");
INSERT INTO club VALUES (820, "Genclerbirligi Ankara", 7.13, 28, 24.0, 28.6, 0, "Eryaman Stadyumu", 20560, -0.0, "Mert Nobre");
INSERT INTO club VALUES (868, "Mke Ankaragucu", 6.71, 29, 26.4, 31.0, 1, "Eryaman Stadyumu", 20560, 675.0, "Fuat Capa");
INSERT INTO club VALUES (4603, "Ae Larisa", 5.24, 35, 23.8, 20.0, 1, "Stadio Alkazar", 13108, 1530000.0, "Michalis Grigoriou");
INSERT INTO club VALUES (1283, "Fc Emmen", 7.31, 32, 23.7, 28.1, 2, "De Oude Meerdijk", 8309, 1310000.0, "Dick Lukkien");
INSERT INTO club VALUES (1268, "Ado Den Haag", 5.38, 28, 23.3, 17.9, 0, "Cars Jeans Stadion", 15000, 1040000.0, "Aleksandar Rankovic");
INSERT INTO club VALUES (984, "West Bromwich Albion", 77.9, 26, 26.3, 34.6, 6, "The Hawthorns", 26850, 11200000.0, "Slaven Bilic");
INSERT INTO club VALUES (931, "Fc Fulham", 132.3, 26, 26.7, 73.1, 11, "Craven Cottage", 19000, -14850000.0, "Scott Parker");
INSERT INTO club VALUES (1533, "Sd Eibar", 26.82, 25, 28.9, 20.0, 0, "Ipurua", 8164, -3690000.0, "José Luis Mendilibar");
INSERT INTO club VALUES (366, "Real Valladolid", 42.12, 26, 27.5, 19.2, 4, "Estadio Nuevo José Zorrilla", 27618, 5850000.0, "Sergio");
INSERT INTO club VALUES (5358, "Sd Huesca", 26.64, 24, 27.6, 25.0, 3, "El Alcoraz", 9128, 4139999.9999999995, "Míchel");
INSERT INTO club VALUES (350, "Sheffield United", 84.69, 25, 27.0, 44.0, 7, "Bramall Lane", 32702, 25200000.0, "Chris Wilder");
INSERT INTO club VALUES (2969, "Dijon Fco", 16.61, 24, 27.0, 45.8, 4, "Stade Gaston-Gérard", 16098, 3380000.0, "Stéphane Jobard");
INSERT INTO club VALUES (28643, "Waasland Beveren", 8.21, 27, 25.5, 51.9, 2, "Freethielstadion", 13290, 1260000.0, "Nicky Hayen");
INSERT INTO club VALUES (3609, "Rotor Volgograd", 7.72, 24, 25.0, 12.5, 1, "Volgograd Arena", 45568, -54.0, "Aleksandr Khatskevich");

In [60]:
db_cursor.execute("SELECT * FROM club")
x = db_cursor.fetchall()
len(x)

400

In [15]:
"""
db_cursor.execute("Describe player")
x = db_cursor.fetchall()
x"""

'\ndb_cursor.execute("Describe player")\nx = db_cursor.fetchall()\nx'

In [16]:
db_cursor.execute("delete from player")

In [63]:
### CLUB
l = []
file_path = '../../datas/results/players.csv'
with open(file_path, mode='r') as csv_data:
    
    reader = csv.reader(csv_data, delimiter=',')
    csv_data_list = list(reader)
    #print(len(csv_data_list))
    #print(csv_data_list[1])
    print(csv_data_list[0])
    for row in csv_data_list[1:]:
        #print(row)
        #break
        for i in range(len(row)):
            if row[i]=='':
                row[i] = 'NULL'
            if '"' in row[i]:
                a = row[i].split('"')
                b = ''
                for c in a:
                    b = b + c
                row[i] = b
        x = 'INSERT INTO player VALUES ('
        x = x + row[1] + ', '
        x = x + row[2] + ', '
        x = x + row[3] + ', '
        x = x + '"'+row[4]+'"'+ ', '
        x = x + '"'+row[5]+'"'+ ', '
        x = x + '"'+row[7]+'"'+ ', '
        x = x + '"'+row[8]+'"'+ ', '
        x = x + '"'+row[9]+'"'+ ', '
        x = x + row[10] + ', ' # 
        x = x + row[11] + ', ' # top_market_value
        if row[6]=='NULL':
            x = x + 'NULL'
        else:
            x = x + 'STR_TO_DATE({}, "%Y-%m-%d")'.format('"'+row[6]+'"')
        x = x +');'
        #print(x)
        #break
    #    row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
        #db_cursor.execute(x)
        l.append(x)

['', 'player_id', 'last_season', 'current_club_id', 'pretty_name', 'country_of_citizenship', 'date_of_birth', 'position', 'foot', 'height_in_cm', 'market_value_in_gbp', 'highest_market_value_in_gbp']

In [64]:
len(l)

23693

In [66]:
with open('../../temp.txt','w') as f:
    for x in l:
        f.write(x)
        f.write("\n")

In [18]:
db_cursor.execute("SELECT * FROM player")
x = db_cursor.fetchall()
len(x)

23693

In [19]:
"""db_cursor.execute("Describe clubs_played_in")
x = db_cursor.fetchall()
x"""

'db_cursor.execute("Describe clubs_played_in")\nx = db_cursor.fetchall()\nx'

In [20]:
db_cursor.execute("select club_id from club")
ids = db_cursor.fetchall()

In [21]:
len(ids)

400

In [22]:
ids

[(3,),
 (4,),
 (5,),
 (6,),
 (10,),
 (11,),
 (12,),
 (13,),
 (15,),
 (16,),
 (18,),
 (19,),
 (20,),
 (23,),
 (24,),
 (27,),
 (29,),
 (31,),
 (33,),
 (36,),
 (38,),
 (39,),
 (40,),
 (41,),
 (42,),
 (43,),
 (44,),
 (46,),
 (47,),
 (58,),
 (60,),
 (65,),
 (79,),
 (80,),
 (82,),
 (86,),
 (89,),
 (105,),
 (114,),
 (121,),
 (124,),
 (126,),
 (127,),
 (128,),
 (130,),
 (131,),
 (132,),
 (133,),
 (141,),
 (142,),
 (148,),
 (150,),
 (157,),
 (162,),
 (167,),
 (169,),
 (172,),
 (173,),
 (180,),
 (190,),
 (192,),
 (200,),
 (202,),
 (204,),
 (206,),
 (232,),
 (234,),
 (235,),
 (237,),
 (244,),
 (252,),
 (265,),
 (273,),
 (276,),
 (281,),
 (289,),
 (294,),
 (306,),
 (317,),
 (331,),
 (336,),
 (338,),
 (339,),
 (347,),
 (350,),
 (354,),
 (366,),
 (367,),
 (368,),
 (369,),
 (370,),
 (371,),
 (379,),
 (380,),
 (383,),
 (385,),
 (398,),
 (399,),
 (403,),
 (405,),
 (410,),
 (415,),
 (416,),
 (417,),
 (418,),
 (430,),
 (441,),
 (443,),
 (449,),
 (458,),
 (465,),
 (467,),
 (468,),
 (472,),
 (475,),
 (498,),
 (499,),
 (506,),
 (511,),
 (512,),
 (520,),
 (524,),
 (533,),
 (543,),
 (553,),
 (566,),
 (583,),
 (589,),
 (595,),
 (601,),
 (603,),
 (605,),
 (607,),
 (610,),
 (618,),
 (621,),
 (631,),
 (641,),
 (642,),
 (653,),
 (660,),
 (667,),
 (678,),
 (681,),
 (683,),
 (714,),
 (720,),
 (749,),
 (750,),
 (762,),
 (798,),
 (800,),
 (820,),
 (825,),
 (826,),
 (833,),
 (855,),
 (862,),
 (865,),
 (868,),
 (873,),
 (897,),
 (903,),
 (931,),
 (932,),
 (940,),
 (964,),
 (968,),
 (969,),
 (976,),
 (979,),
 (982,),
 (984,),
 (985,),
 (987,),
 (989,),
 (993,),
 (995,),
 (1003,),
 (1005,),
 (1010,),
 (1025,),
 (1032,),
 (1038,),
 (1039,),
 (1041,),
 (1049,),
 (1050,),
 (1053,),
 (1063,),
 (1071,),
 (1075,),
 (1082,),
 (1083,),
 (1084,),
 (1085,),
 (1090,),
 (1091,),
 (1095,),
 (1096,),
 (1108,),
 (1110,),
 (1123,),
 (1132,),
 (1147,),
 (1148,),
 (1158,),
 (1159,),
 (1160,),
 (1162,),
 (1177,),
 (1184,),
 (1186,),
 (1210,),
 (1237,),
 (1241,),
 (1244,),
 (1245,),
 (1268,),
 (1269,),
 (1283,),
 (1301,),
 (1304,),
 (1387,),
 (1390,),
 (1411,),
 (1416,),
 (1420,),
 (1421,),
 (1423,),
 (1426,),
 (1429,),
 (1435,),
 (1436,),
 (1455,),
 (1465,),
 (1467,),
 (1506,),
 (1519,),
 (1531,),
 (1533,),
 (1627,),
 (2079,),
 (2227,),
 (2282,),
 (2288,),
 (2292,),
 (2293,),
 (2323,),
 (2375,),
 (2381,),
 (2410,),
 (2414,),
 (2420,),
 (2423,),
 (2424,),
 (2425,),
 (2439,),
 (2441,),
 (2448,),
 (2451,),
 (2457,),
 (2477,),
 (2503,),
 (2553,),
 (2578,),
 (2671,),
 (2672,),
 (2687,),
 (2696,),
 (2698,),
 (2700,),
 (2703,),
 (2715,),
 (2722,),
 (2727,),
 (2740,),
 (2759,),
 (2760,),
 (2778,),
 (2783,),
 (2832,),
 (2861,),
 (2921,),
 (2944,),
 (2969,),
 (2990,),
 (2995,),
 (2999,),
 (3008,),
 (3057,),
 (3060,),
 (3205,),
 (3216,),
 (3302,),
 (3325,),
 (3327,),
 (3329,),
 (3336,),
 (3349,),
 (3368,),
 (3426,),
 (3508,),
 (3522,),
 (3524,),
 (3558,),
 (3592,),
 (3609,),
 (3690,),
 (3691,),
 (3709,),
 (3714,),
 (3719,),
 (3725,),
 (3729,),
 (3840,),
 (3911,),
 (3948,),
 (3999,),
 (4083,),
 (4102,),
 (4128,),
 (4171,),
 (4294,),
 (4482,),
 (4603,),
 (4750,),
 (4795,),
 (5219,),
 (5220,),
 (5358,),
 (5572,),
 (5724,),
 (5817,),
 (5818,),
 (6195,),
 (6414,),
 (6418,),
 (6574,),
 (6646,),
 (6676,),
 (6890,),
 (6894,),
 (6912,),
 (6992,),
 (6993,),
 (6994,),
 (6996,),
 (7179,),
 (7185,),
 (7378,),
 (7775,),
 (8024,),
 (8838,),
 (8970,),
 (9007,),
 (10484,),
 (10690,),
 (11126,),
 (11127,),
 (11282,),
 (11688,),
 (12321,),
 (12438,),
 (14171,),
 (14589,),
 (16239,),
 (16245,),
 (16247,),
 (16704,),
 (16795,),
 (18105,),
 (18303,),
 (19657,),
 (19771,),
 (19789,),
 (20100,),
 (20698,),
 (21957,),
 (22110,),
 (23611,),
 (23826,),
 (26459,),
 (28095,),
 (28643,),
 (28956,),
 (29228,),
 (39722,),
 (40426,),
 (41201,),
 (41231,),
 (41274,),
 (48332,),
 (48726,),
 (49364,),
 (49702,),
 (55686,),
 (60551,),
 (60949,),
 (61825,)]

In [23]:
all_ids = [x[0] for x in ids]

In [24]:
#all_ids

In [25]:
db_cursor.execute("delete from clubs_played_in")

In [70]:
### CLUB
l2 = []
file_path = '../../datas/results/Clubs_Played_In.csv'
with open(file_path, mode='r') as csv_data:
    
    reader = csv.reader(csv_data, delimiter=',')
    csv_data_list = list(reader)
    #print(len(csv_data_list))
    #print(csv_data_list[1])
    j = 0
    print(csv_data_list[0])
    for row in csv_data_list[1:]:
        #print(row)
        #break
        if not (int(row[6]) in all_ids and int(row[7]) in all_ids) :
            j +=1
            continue
        for i in range(len(row)):
            if row[i]=='':
                row[i] = 'NULL'
            if '"' in row[i]:
                a = row[i].split('"')
                b = ''
                for c in a:
                    b = b + c
                row[i] = b
        x = 'INSERT INTO clubs_played_in VALUES ('
        x = x + row[1] + ', '
        x = x + '"'+row[2]+'"'+ ', '
        x = x + row[3] + ', '
        x = x + '"'+row[4]+'"'+ ', '
        if row[5]=='NULL':
            x = x + 'NULL, '
        else:
            x = x + 'STR_TO_DATE({}, "%Y-%m-%d")'.format('"'+row[5]+'"') + ', '
        x = x +row[6]+ ', '
        x = x +row[7]+ ', '
        x = x +row[8]+ ', '
        x = x +row[9]+ ', '
        x = x + '"'+row[10]+'"'+ ', '
        if row[11]=='NULL':
            x = x + 'NULL, '
        else:
            x = x + str(int(float(row[11]))) + ', ' 
        x = x + '"'+row[12]+'"'
        x = x +');'
        #print(x)
        #break
    #    row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
        #db_cursor.execute(x)
        l2.append(x)
    print(j)

['', 'game_id', 'competition_code', 'season', 'round', 'date', 'home_club_id', 'away_club_id', 'home_club_goals', 'away_club_goals', 'stadium', 'attendance', 'referee']
10863

In [27]:
 # 10863 not inserted as clubs.csv did not have club_ids for them

In [71]:
with open('../../temp2.txt','w') as f:
    for x in l2:
        f.write(x)
        f.write("\n")

In [75]:
len(l2)

45234

In [28]:
db_cursor.execute("select game_id from clubs_played_in")
game_ids = db_cursor.fetchall()
len(game_ids),game_ids[0]

(45234, (2460633,))

In [29]:
game_ids = [x[0] for x in game_ids]

In [33]:
db_cursor.execute("select player_id from player")
player_id = db_cursor.fetchall()
len(player_id),player_id[0]

(23693, (1126,))

In [34]:
player_id = [x[0] for x in player_id]

In [38]:
db_cursor.execute("delete from player_played_in")

In [72]:
### CLUB
l3 = []
file_path = '../../datas/results/Player_Played_In.csv'
with open(file_path, mode='r') as csv_data:
    
    reader = csv.reader(csv_data, delimiter=',')
    csv_data_list = list(reader)
    #print(len(csv_data_list))
    #print(csv_data_list[1])
    j = 0
    print(csv_data_list[0])
    for row in csv_data_list[1:]:
        #print(row)
        #break
        if (row[2]=='') or not (int(float(row[2])) in game_ids and int(row[1]) in player_id):
            j +=1
            continue
        for i in range(len(row)):
            if row[i]=='':                row[i] = 'NULL'
            if '"' in row[i]:
                a = row[i].split('"')
                b = ''
                for c in a:
                    b = b + c
                row[i] = b
        x = 'INSERT INTO player_played_in VALUES ('
        x = x + row[1] + ', '
        if row[2]=='NULL':
            x = x + 'NULL, '
        else:
            x = x + str(int(float(row[2]))) + ', '
        x = x + '"'+row[4]+'"'+ ', '
        x = x +row[5]+ ', '
        x = x +row[6]+ ', '
        x = x +row[7]+ ', '
        x = x +row[8]+ ', '
        x = x +row[9]+ ', '
        x = x +row[10]
        x = x +');'
        #print(x)
        #break
    #    row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
        #db_cursor.execute(x)
        l3.append(x)
    print(j)

['', 'player_id', 'game_id', 'appearance_id', 'competition_id', 'player_club_id', 'goals', 'assists', 'minutes_played', 'yellow_cards', 'red_cards']
50818

In [73]:
with open('../../temp3.txt','w') as f:
    for x in l3:
        f.write(x)
        f.write("\n")

In [74]:
len(l3)

991007

In [40]:
db_cursor.execute("select * from player_played_in")
x = db_cursor.fetchall()
len(x)

991007

In [62]:
db_cursor.close()
db_connection.close()